.container{
    margin-top:20px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.buttonContainer button{
    height: 40px;
    width: 400px;
    border: none;
    background-color: #db2777;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}