.orderTrackingCard {
  background: white;
  border: 1px solid #eaeaec;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  font-family: 'Work Sans';
    border-left: 4px solid #197c65; /* green accent line */

}

.orderTrackingCard h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: 'Work Sans';
  color: #333;
}

.timeline {
  position: relative;
  padding-left: 25px;
  /* border-left: 2px solid #197c65; */
  margin-bottom: 20px;
}

.timelineItem {
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px;
  font-family: 'Work Sans';
}

.statusCircle {
  position: absolute;
  left: -12px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #197c65;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.statusText {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  font-family: 'Work Sans';
}

.date {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.trackingInfo {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.trackingInfo div {
  margin-bottom: 5px;
}

.trackingInfo a {
  color: #0b721c;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.trackingInfo a:hover {
  text-decoration: underline;
}

.buttons {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  font-family: 'Work Sans';
}

.returnExchangeBtn {
  border: 1px solid #044236;
  background: white;
  color: #044236;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.returnExchangeBtn:hover {
  background: #f0f0f0;
}

.helpBtn {
  background: #044236;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.helpBtn:hover {
  opacity: 0.95;
}
